body{
    background-color: black;
}
.poster{
    font-family: "Libre Baskerville", serif;
    color: white;
    margin-left: 20%;
    margin-top: 50px;
    width: 60%;
    text-align: center;
}

.pictures{
    border: solid 5px;
    width: 100%;
    
}
h1{
    text-transform: uppercase;
}